.action h2 {
    font-family: 'tittle';
    font-size: 40px;
    letter-spacing: 10px;
    margin-bottom: 3rem;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column_action {
    display: flex;
    flex-direction: row;
}

.text_action, .m_action {
    width: 50vw;
}

.text_action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.text_action p {
    width: 28rem;
}

.desc_text_action {
    width: 622.53px;
    display: flex;
    justify-content: start;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: rgb(65, 65, 65);
    line-height: 1.7;
    margin-bottom: 1rem;
}

.button_action p {
    display: flex;
    font-family: 'classic';
    font-weight: 900;
    width: auto;
    padding: 1rem 2rem;
    border-radius: 50px;
    color: white;
    letter-spacing: 0px;
    background-color: #00aa88;
    box-shadow: 0px 10px 30px -5px rgba(0, 168, 135, 0.5);
    cursor: pointer;
}

.div_button_action {
    width: 622.53px;
    display: flex;
    justify-content: start;
    margin-top: 3rem;
}

.button_action:hover p{
    background-color: rgb(1, 110, 88);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
}

.panel_1, .panel_2, .panel_3 {
    display: flex;
    background-color: white;
    width: 500px;
    height: 110px;
    margin-bottom: 2rem;
    border-radius: 30px;
    box-shadow: 0px 10px 30px -5px rgba(51, 50, 53, 0.15);
    align-items: center;
    
}

.panel_1, .panel_3 {
    margin-left: 122.53px;
}

.panel_2 {
    margin-left: 50px;
}

.panel_3 {
    margin-bottom: 0;
}

.m_action i {
    margin-left: 2.5rem;
}

.m_action p {
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: rgb(65, 65, 65);
    letter-spacing: 1px;
    line-height: 1.7;
    margin-left: 2.5rem;
}

.jsp {
    height: 20rem;
}

@media  (max-width: 1275px) {
    .column_action {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text_action, .desc_text_action, .text_action, .button_action
    .div_button_action, .text_action h2 {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text_action, .desc_text_action {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .text_action h2 {
        margin-left: 7.5vw;
        text-align: center;
    }
}

@media  (max-width: 440px) {
    .text_action h2 {
        margin-left: 7.5vw;
        font-size: 7vw;
    }
}