.avis {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 8rem;
}

.video {
    justify-content: end;
    width: 622px;
}

.text_video {
    width: 622px;
    justify-content: start;
}

.video video {
    width: 188px;
    opacity: 1;
    margin: 0 0.5rem;
    border-radius: 15px;
    box-shadow: 0px 1px 30px rgba(0, 92, 73, 0.7);
}

.avis h2 {
    line-height: 60px;
    margin-left: 7rem;
    font-family: 'tittle';
    font-size: 40px;
    letter-spacing: 10px;
}

.trustpilot {
    margin-top: 3rem;
    margin-left: 7rem;
    background-color: white;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px -5px rgba(51, 50, 53, 0.15);
    cursor: pointer;
}

.trustpilot h3 {
    font-family: 'mont';
    font-size: 18px;
    color: #000000;
    letter-spacing: 1px;
    line-height: 1.7;
    margin-left: 2.5rem;
    padding-top: 1rem;
}

.stars {
    margin-top: 0.9rem;
    margin-left: 2.5rem;
    color: #00c59e;
}

@media screen and (max-width: 1260px) {
    .video {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 735px) {
    .avis {
        display: flex;
        flex-direction: column;
    }
    .avis h2 {
        
        margin-left: 7.5vw;
    }
    .video {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        width: 100vw;
    }
    .video video {
        box-shadow: 0px 1px 30px rgba(0, 92, 73, 0.1);
    }
    .trustpilot {
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 510px) {
    .avis h2 {
        width: 100vw;
        font-size: 6vw;
        line-height: 1.5;
    }
    .trustpilot {
        margin-left: 7.5vw;
        width: 85vw;
        height: 25vw;
    }
    .trustpilot h3 {
        font-size: 4vw;
    }
    .stars {
        margin-top: 0.5rem;
    }
    .video video {
        margin-bottom: 2rem;
        width: 80vw;
        box-shadow: 0px 1px 30px rgba(0, 92, 73, 0.1);
    }
}