* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

@font-face {
    font-family: 'tittle';
    src: url('assets/font/LEMONMILK-Light.otf') format('truetype');
}

@font-face {
    font-family: 'classic';
    src: url('assets/font/roboto.ttf') format('truetype');
}

body {
    background-image: url('assets/frame4.png');
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-size: cover; /* Ajuste l'image pour couvrir entièrement l'élément */
    background-attachment: fixed;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 19rem;
}

.logo {
    width: 200px;
    height: 200px;
}

.main h1 {
    padding: 1rem 1rem;
    margin: 1rem 0rem;
    font-family: 'tittle';
    font-size: 70px;
    letter-spacing: 8px;
}

.main h1:hover {
    cursor: pointer;
    transform: scale(1.1);
    margin-bottom: 3rem;
}

.slogan {
    font-family: 'classic';
    font-weight: 800;
    font-size: 19px;
    color: rgb(65, 65, 65);
    letter-spacing: 1px;
    margin-bottom: 0.3rem;
}

.div_button_telegram {
    margin-top: 3rem;
    font-family: 'classic';
    font-weight: 800;
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    border-radius: 50px;
    background-color: black;
    cursor: pointer;
    box-shadow: 0px 10px 50px -5px #000000;
}

.div_button_telegram:hover {
    background-color: rgb(0, 170, 136);
    box-shadow: 0px 10px 50px -5px rgb(0, 170, 136);
    transform: scale(1.05);
}

.button_telegram {
    color: white;
    letter-spacing: 1px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500rem;
}

.div_panel_result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.panel_result {
    background-color: transparent;
    margin: 1rem 3rem;
    border-radius: 40px;
    width: 17rem;
    height: 17rem;
    box-shadow: 0px 1px 30px rgba(175, 175, 175, 0.7);
    cursor: crosshair;
}

.title_result {
    margin-bottom: 3rem;
    font-family: 'tittle';
    font-size: 150px;
    letter-spacing: 10px;
    transition: all 1s ease;
    cursor:default;
}

.panel_a:hover, .panel_b:hover, .panel_c:hover, .panel_d:hover {
    box-shadow: 0px 1px 30px rgba(99, 99, 99, 0.7);
}

.circle {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    width: 1rem;
    padding: 1.8rem;
    border-radius: 50px;
}
.circle_a {
    background-color: #fddbfa
}
.circle_b {
    background-color: #feefcd;
}
.circle_c {
    background-color: #dad3fc;
}