* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

@font-face {
    font-family: 'tittle';
    src: url('assets/font/LEMONMILK-Light.otf') format('truetype');
}
@font-face {
    font-family: 'classic';
    src: url('assets/font/roboto.ttf') format('truetype');
}
@font-face {
    font-family: 'nexah';
    src: url('assets/font/nexah.ttf') format('truetype');
}
@font-face {
    font-family: 'nexal';
    src: url('assets/font/nexal.ttf') format('truetype');
}
@font-face {
    font-family: 'mont';
    src: url('assets/font/mont.otf') format('truetype');
}
@font-face {
    font-family: 'tommy';
    src: url('assets/font/tommy.otf') format('truetype');
}



.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 200px;
    height: 200px;
}

.main h1 {
    padding: 1rem 1rem;
    margin: 1rem 0rem;
    font-family: 'tittle';
    font-size: 70px;
    letter-spacing: 8px;
}

.main h1:hover {
    cursor: pointer;
    transform: scale(1.1);
    margin-bottom: 3rem;
}

.slogan {
    font-family: 'classic';
    font-weight: 800;
    font-size: 19px;
    color: rgb(65, 65, 65);
    letter-spacing: 1px;
    margin-bottom: 0.3rem;
}

.div_button_telegram {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: 'classic';
    font-weight: 800;
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    border-radius: 50px;
    background-color: black;
    cursor: pointer;
    box-shadow: 0px 10px 50px -5px #000000;
}

.div_button_telegram:hover {
    transform: scale(1.05);
    background-color: rgb(0, 170, 136);
    box-shadow: 0px 10px 50px -5px rgb(0, 170, 136);
}

.button_telegram {
    color: white;
    letter-spacing: 1px;
    transition: 0.5s ease;
}

.fa-chevron-down {
    padding: 1rem;
    cursor: pointer;
    color: black;
}

.fa-chevron-down:hover {
    transform: scale(1.3);
}